<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Réfléchir</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>Nous contacter :</li></br>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="https://www.facebook.com/reflechir">Page Facebook</a></li>
        </ul>
      </div>

   <div class="wrapper">
	   <div class="copyright">
		   <p>Le contenu de ce site est sous <a href="/licence/">licence MIT</a> © 2021.</br>Liste des <a href="/contributeurs/">contributeurs·trices</a></p>
		   <p><a href="/mentions-legales/">Mentions légales</a></p>
	   </div>
	</div>
</footer>
