<div class="side-wrapper">

<div class="newsletter-container">
	<div class="newsletter-form-group">
		<form action="https://tinyletter.com/reflechir" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/reflechir', 'popupwindow', 'scrollbars=yes,width=200,height=300');return true">
		<p><label for="tlemail"><b>Écrire votre adresse mail</b></label></p>
		<p><input type="text" style="width:140px" name="email" id="tlemail"></p>
		<input type="hidden" value="1" name="embed"><input type="submit" value="S'inscrire" class="btn btn-warning">
		</form>
	</div>
</div>

</div> 
